<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MojoAuth | Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/assets/css/base.min.css"
    />
  </head>

  <link
    rel="stylesheet"
    type="text/css"
    media="screen"
    href="/assets/css/highlight.css"
  />
</head>
  <body>
    <!--main section-->
    <div class="main">
      <!--header section-->
      {{ partial "header" (dict "Kind" .Kind "Template" "List") }}
      <!--header section-->
      <!--content section-->
      <main class="content detail-page-v1">
        <section class="py-72 description">
          <div class="grid-20-60-20">
            <div class="left"></div>
            <div class="middle text">
              <div class="tag">
               {{range .Params.tags}}<a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{ . }}</a> {{end}}
              </div>
              <h1 class="title">
               {{.Title}}
              </h1>
              <p>
               {{.Params.description}}
              </p>
              <div class="bio">By {{.Params.author}} - {{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
              <div class="hero-image border-radius-md">
                <img src="/assets/images/{{.Params.coverimage}}" />
              </div>
              <hr />
              {{.Content}}
              <hr />
              <h3>Questions & Feedback</h3>
              <p>
                Come and talk to the founders of Cotter and other developers who
                are using Cotter on <a href="#">Cotter's Slack Channel</a>.
              </p>

              <h3>Ready to use Cotter?</h3>
              <p>
                If you enjoyed this tutorial and want to integrate Cotter into
                your website or app, you can
                <a href="#">create a free</a> account and
                <a href="#">check out our documentation</a>.
              </p>

              <p>
                If you need help, ping us on our
                <a href="#">Slack channel</a> or email us at
                <a href="#">team@cotter.app.</a>
              </p>
              <hr />
              <!--blog listing-->
              <!--
              <div class="blog-listing">
                <h2>Related articles</h2>
                <div class="grid-33">
                  <div class="card border-radius-sm border-muted">
                    <div class="image">
                      <img src="assets/images/placeholder(1).jpg" />
                    </div>
                    <div class="description">
                      <div class="tag">
                        <a href="#">tutorial</a>
                      </div>
                      <h2 class="title">
                        Lorem Ipsum is simply dummy text of the printing.
                      </h2>
                    </div>
                    <a href="#" class="blog-link"></a>
                  </div>
                  <div class="card border-radius-sm border-muted">
                    <div class="image">
                      <img src="assets/images/placeholder(2).jpg" />
                    </div>
                    <div class="description">
                      <div class="tag">
                        <a href="#">Feature</a>
                      </div>
                      <h2 class="title">
                        Lorem Ipsum is simply dummy text of the printing.
                      </h2>
                    </div>
                    <a href="#" class="blog-link"></a>
                  </div>
                  <div class="card border-radius-sm border-muted">
                    <div class="image">
                      <img src="assets/images/placeholder(4).jpg" />
                    </div>
                    <div class="description">
                      <div class="tag">
                        <a href="#">Login</a>
                      </div>
                      <h2 class="title">
                        Lorem Ipsum is simply dummy text of the printing.
                      </h2>
                    </div>
                    <a href="#" class="blog-link"></a>
                  </div>
                  <div class="card border-radius-sm border-muted">
                    <div class="image">
                      <img src="assets/images/placeholder(5).jpg" />
                    </div>
                    <div class="description">
                      <div class="tag">
                        <a href="#">tutorial</a>
                      </div>
                      <h2 class="title">
                        Lorem Ipsum is simply dummy text of the printing.
                      </h2>
                    </div>
                    <a href="#" class="blog-link"></a>
                  </div>
                  <div class="card border-radius-sm border-muted">
                    <div class="image">
                      <img src="assets/images/placeholder(6).jpg" />
                    </div>
                    <div class="description">
                      <div class="tag">
                        <a href="#">Feature</a>
                      </div>
                      <h2 class="title">
                        Lorem Ipsum is simply dummy text of the printing.
                      </h2>
                    </div>
                    <a href="#" class="blog-link"></a>
                  </div>
                  <div class="card border-radius-sm border-muted">
                    <div class="image">
                      <img src="assets/images/placeholder(1).jpg" />
                    </div>
                    <div class="description">
                      <div class="tag">
                        <a href="#">Login</a>
                      </div>
                      <h2 class="title">
                        Lorem Ipsum is simply dummy text of the printing.
                      </h2>
                    </div>
                    <a href="#" class="blog-link"></a>
                  </div>
                </div>
              </div>
               -->
              <!--blog listing-->
            </div>
            <div class="right sidebar sticky">
              <h3><span>Secure Your Business</span> with 
               Passwordless Solution</h3>
              <p>
               Right time to use passwordless for your Web, Mobile, TV, Wearable or any Smart and IoT Apps.
              </p>
              <div class="btn-group">
                <a href="https://mojoauth.com/signin" class="btn btn-primary">Free Signup</a
                >
                <!--
                <a
                  href="#"
                  rel="nofollow noopener"
                  class="btn btn-secondary"
                  target="_blank"
                  >Get a Demo</a
                >
                -->
              </div>
            </div>
          </div>
        </section>
      </main>
      <!--content section-->
      {{ partial "footer" . }}
    </div>
    <!--main section-->
	<script src="/assets/js/copy_code.js"></script>
  </body>
</html>
