.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-flex;
  padding: 0 1.5rem;
  font-size: 1rem;
  line-height: 1;
  border-radius: 0.25rem;
  align-items: center;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.07em;
  -webkit-appearance: none;
  transition: color 0.35s, background-color 0.35s, border-color 0.35s,
    box-shadow 0.35s, opacity 0.35s;
  font-family: inherit;
  min-height: 48px;
  &.btn-primary {
    background-color: $primary;
    color: $white;
    border-color: $primary;
    &:hover {
      background-color: $primary-dark;
      border-color: $primary-dark;
      color: $white;
    }
    &.btn-cta {
      font-weight: 600;
      svg {
        margin-left: 0.85rem;
      }
    }
  }
  &.btn-secondary {
    color: $primary;
    &:hover,
    &:focus {
      color: $primary-dark;
      background-color: $primary-light;
    }
  }
}
.btn-group {
  width: fit-content;
}
