$font-stack: "Inter", sans-serif;
$primary: #5e00cf;
$primary-dark: #38007c;
$primary-light: #efe6fa;
$hairline: #dadce0;
$black: #202124;
$grayLight: #5f6368;
$graylightest: #fbfbfb;
$bodyText: #414141;
$white: #ffffff;

// notification alerts colors
$success: #39b55a;
$warning: #f1a321;
$error: #e61728;

$p72: 72px;
