.detail-page {
  .hero-image {
    img {
      width: 100%;
      max-height: 450px;
      object-fit: cover;
      @media (max-width: 768px) {
        min-height: 250px;
      }
    }
  }
  .description {
    max-width: 850px;
    padding: 24px 24px 72px;
    background-color: $white;
    margin: 0 auto;
    border-radius: 12px;
    margin: -72px auto 0 auto;
    position: relative;
    @media (max-width: 768px) {
      margin: -72px 24px 0 24px;
      padding: 24px 4px 72px;
    }
    .bio {
      margin-top: 56px;
    }
    hr {
      border-top: 0;
      border-color: $hairline;
      margin: 48px 0;
    }
    p {
      margin-bottom: 32px;
    }
    h2 {
      font-size: 24px;
      line-height: 36px;
      margin: 32px 0 16px 0;
    }
    h3,
    h4,
    h5,
    h6 {
      font-weight: 600;
    }
    ul,
    ol {
      margin: 0 0 48px 0;
      li {
        margin-bottom: 16px;
        a {
          text-decoration: none;
          font-weight: 400;
        }
      }
    }
    a {
      text-decoration: underline;
    }
    .tag {
      a {
        text-decoration: none;
      }
    }
  }
}
.detail-page-v1 {
  .hero-image {
    margin-top: 56px;
    img {
      width: 100%;
      max-height: 450px;
      object-fit: cover;
      @media (max-width: 768px) {
        min-height: 250px;
      }
    }
  }
  .description {
    .grid-20-60-20 {
      overflow: visible;
    }
    position: relative;

    .bio {
      margin-top: 56px;
    }
    hr {
      border-top: 0;
      border-color: $hairline;
      margin: 48px 0;
    }
    p {
      margin-bottom: 32px;
    }
    h2 {
      font-size: 24px;
      line-height: 36px;
      margin: 32px 0 16px 0;
    }
    h3,
    h4,
    h5,
    h6 {
      font-weight: 600;
    }
    ul,
    ol {
      margin: 0 0 48px 0;
      li {
        margin-bottom: 16px;
        a {
          text-decoration: none;
          font-weight: 400;
          color: $black;
        }
      }
    }
    a:not(.btn) {
      color: $black;
      text-decoration: underline;
      &:hover {
        color: $primary;
      }
    }
    .tag {
      a {
        text-decoration: none;
        color: $primary;
        &:hover {
          color: $primary-dark;
        }
      }
    }
    .sidebar {
      @media (min-width: 1025px) {
        position: -webkit-sticky;
        position: sticky;
        top: 216px;
      }
      padding: 24px;
      border: 1px solid $hairline;
      border-radius: 4px;
      height: fit-content;
      p {
        font-size: 15px;
      }
      h3 {
        margin-top: 0;
        span {
          font-weight: normal;
        }
      }
      .btn-group {
        display: flex;
        @media (min-width: 1025px) {
          flex-direction: column;
        }
        @media (max-width: 480px) {
          flex-direction: column;
        }
        align-items: center;
        width: auto;
        .btn-primary {
          @media (min-width: 1025px) {
            margin-bottom: 16px;
          }
          @media (max-width: 480px) {
            margin-bottom: 16px;
          }
        }
        .btn-secondary {
          @media (max-width: 1024px) {
            margin-left: 16px;
          }
        }
      }
    }
  }
  .blog-listing {
    .card {
      img {
        object-fit: cover;
        width: 100%;
        max-height: 145px;
        min-height: 145px;
      }
      .description {
        padding: 16px;
      }
      h2 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        line-height: 24px;
      }
      .tag {
        a {
          font-size: 13px;
        }
      }
    }
  }
}
