.detail-page {
  .hero-image {
    img {
      width: 100%;
      max-height: 450px;
      object-fit: cover;
      @media (max-width: 768px) {
        min-height: 250px;
      }
    }
  }
  .description {
    max-width: 850px;
    padding: 24px 24px 72px;
    background-color: $white;
    margin: 0 auto;
    border-radius: 12px;
    margin: -72px auto 0 auto;
    position: relative;
    @media (max-width: 768px) {
      margin: -72px 24px 0 24px;
      padding: 24px 4px 72px;
    }
    .bio {
      margin-top: 56px;
    }
    hr {
      margin: 48px 0;
      border-top: 0;
      border-color: $hairline;
    }
    p {
      margin-bottom: 32px;
    }
    h2 {
      font-size: 24px;
      line-height: 36px;
      margin: 32px 0 16px 0;
    }
    h3,
    h4,
    h5,
    h6 {
      font-weight: 600;
    }
    ul,
    ol {
      margin: 0 0 48px 0;
      li {
        margin-bottom: 16px;
        a {
          text-decoration: none;
          font-weight: 400;
        }
      }
    }
    a {
      text-decoration: underline;
    }
    .tag {
      a {
        text-decoration: none;
      }
    }
  }
}
.detail-page-v1 {
  .detail-page-header {
    margin-bottom: 56px;
  }
  .hero-image {
    img {
      width: 100%;
      max-height: 520px;
      object-fit: cover;
      @media (max-width: 768px) {
        min-height: 252px;
      }
    }
  }
  .description {
    .grid-70-30 {
      overflow: visible;
    }
    position: relative;

    .bio {
      margin-top: 56px;
    }
    hr {
      border-top: 0;
      margin: 36px 0;
      border-color: $hairline;
    }
    p {
      margin-bottom: 32px;
    }
    h2 {
      font-size: 24px;
      line-height: 36px;
      margin: 32px 0 16px 0;
    }
    h3,
    h4,
    h5,
    h6 {
      font-weight: 600;
    }
    ul,
    ol {
      margin: 0 0 48px 0;
      li {
        margin-bottom: 16px;
        a {
          text-decoration: none;
          font-weight: 400;
          color: $black;
        }
      }
    }
    a:not(.btn) {
      color: $black;
      text-decoration: underline;
      &:hover {
        color: $primary;
      }
    }
    .tag {
      a {
        text-decoration: none;
        color: $primary;
        &:hover {
          color: $primary-dark;
        }
      }
    }
    .sidebar {
      &.sticky {
        text-align: center;
        padding: 48px 24px;
        background-color: #f2f4f8;
        height: fit-content;
        border-radius: 12px;
        @media (min-width: 1025px) {
          position: -webkit-sticky;
          position: sticky;
          top: 30px;
        }
      }
      svg {
        width: 56px;
        margin-bottom: 32px;
      }
      p {
        font-size: 15px;
      }
      h3 {
        margin-top: 0;
        margin-bottom: 32px;
        line-height: 1.7;
        span {
          font-weight: normal;
        }
      }
      .btn-group {
        display: flex;
        justify-content: center;
        width: auto;
        .btn-primary {
          margin-bottom: 0;
        }
        .btn-secondary {
          @media (max-width: 1024px) {
            margin-left: 16px;
          }
        }
      }
    }
  }
  .blog-listing {
    padding-top: 72px;
    h2 {
      margin: 0 0 24px;
    }
    .card {
      h2 {
        margin: 0;
      }
    }
  }
  // .blog-listing {
  //   .card {
  //     img {
  //       object-fit: cover;
  //       width: 100%;
  //       max-height: 145px;
  //       min-height: 145px;
  //     }
  //     .description {
  //       padding: 16px;
  //     }
  //     h2 {
  //       margin-top: 0;
  //       margin-bottom: 0;
  //       font-size: 16px;
  //       line-height: 24px;
  //     }
  //     .tag {
  //       a {
  //         font-size: 13px;
  //       }
  //     }
  //   }
  // }
}
// auther details
.auther-detail {
  border-radius: 12px;
  margin: 48px 0 0;
  display: flex;
  background-color: #f2f4f8;
  padding: 24px;
  @media (max-width: 767px) {
    flex-direction: column;
  }
  .img {
    margin-right: 24px;
    img {
      border-radius: 100px;
      max-width: 100px;
    }
  }
  .description {
    color: $black;
    h2 {
      @media (min-width: 768px) {
        margin-top: 0;
      }
    }
    p {
      margin-bottom: 0;
    }
    a {
      text-decoration: none !important;
    }
  }
}
