<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MojoAuth | Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/assets/css/base.min.css"
    />
  </head>
  <body>
    <!--main section-->
    <div class="main">
     {{ partial "header" (dict "Kind" .Kind "Template" "List") }}
      <!--content section-->
      <main class="content">
        <section class="hero pinned-item py-72">
          This is the ittle
        </section>
        <!--blog listing-->
        <section class="blog-listing">
          <div class="grid-33">
               {{ range .Pages }}
               <div class="card border-radius-sm border-muted">
                    <div class="image">
                      <img src="/assets/images/{{.Params.coverimage}}"  loading="lazy" alt="{{.Title}}"/>
                    </div>
                    <div class="description">
                      <div class="tag">
                         {{range .Params.tags}}<a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{ . }}</a> {{end}}
                      </div>
                      <h2 class="title">
                         {{.Title}}
                      </h2>
                      <p>
                        {{.Params.description}}
                      </p>
                      <div class="bio">By {{.Params.author}} - {{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
                    </div>
                    <!--blog link add here-->
                    <a href="{{.Permalink}}" class="blog-link"></a>
               </div>
               {{ end }}
          </div>
        </section>
        <!--blog listing-->
        <!--pagination-->
        <!--
        <section class="py-72">
          <div>
            <ul class="pagination">
              <li>
                <a href="#" class="prew disabled">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-chevron-left"
                  >
                    <polyline points="15 18 9 12 15 6"></polyline>
                  </svg>
                </a>
              </li>
              <li class="link">
                <a href="#">1</a>
              </li>
              <li class="link">
                <a href="#" class="active">2</a>
              </li>
              <li class="link">
                <a href="#">3</a>
              </li>
              <li class="link">
                <a href="#">4</a>
              </li>
              <li class="link">
                <a href="#">5</a>
              </li>
              <li class="link">
                <a href="#">6</a>
              </li>
              <li>
                <a href="#" class="next enable">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-chevron-right"
                  >
                    <polyline points="9 18 15 12 9 6"></polyline>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </section>
          -->
        <!--pagination-->
        <!--CTA section-->
        <section class="cta text-center mb-72">
          <div class="bg-light py-72 border-radius-md">
            <h2>Ready to get started?</h2>
            <p>
              Right time to use passwordless for your Web, Mobile, TV, Wearable
              or any Smart and IoT Apps.
            </p>
            <a href="https://mojoauth.com/signin" target="_blank" class="btn btn-primary">Signup for free</a>
          </div>
        </section>
        <!--CTA section-->
      </main>
      {{ partial "footer" . }}
    </div>
    <!--main section-->
  </body>
</html>
