<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>MojoAuth | Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../../assets/css/base.min.css"
    />
  </head>
  <body>
    <!--main section-->
    <div class="main">
      <!--header section-->
      {{ partial "header" (dict "Kind" .Kind "Template" "List") }}
      <!--header section-->
      <!--content section-->
      <main class="content">
        <!--hero pinned section-->
        <section class="hero pinned-item py-72">
          <div>
            <div class="text">
              <h1 class="title">Found {{ len .Pages }} posts with tag "{{ .Params.title }}"</h1>
            </div>
          </div>
        </section>
        <!--hero pinned section-->
        <!--blog listing-->
        <section class="blog-listing mb-72">
          <div class="grid-33">
            {{ range .Pages }}
            <div class="card border-radius-sm border-muted">
              <div class="image">
                <a href="{{.Permalink}}"><img src='{{ "/assets/css/" | relLangURL  }}{{.Params.coverimage}}'  loading="lazy" alt="{{.Title}}"/></a>
              </div>
              <div class="description">
                <div class="tag">
                  {{range .Params.tags}}<a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{ . }}</a> {{end}}
                </div>
                <a href="{{.Permalink}}"><h2 class="title">
                  {{.Title}}
                </h2></a>
                <p>
                  {{.Params.description}}
                </p>
                <div class="bio"> <a href='{{ "/author/" | relLangURL  }}{{ .Params.author | urlize }}'>{{ .Params.author }}</a> - {{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
              </div>
              <!--blog link add here-->
            </div>
            {{ end }}
          </div>
        </section>
        <!--blog listing-->
      </main>
      <!--content section-->
      {{ partial "footer" . }}
    </div>
    <!--main section-->
  </body>
</html>
