<!--header section-->
<header class="header">
  <input type="checkbox" id="navcheck" />
  <div class="nav-btn">
    <label for="navcheck">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <div class="logo-mobile">
    <a href="https://mojoauth.com/blog" class="logo">
      <img src="{{ '/assets/css/' | relLangURL  }}logo.svg" />
    </a>
  </div>
  <nav>
    <a href="https://mojoauth.com" class="logo">
      <img src="{{ '/assets/css/' | relLangURL  }}logo.svg" />
    </a>
    <div class="nav-right">
      <ul class="nav-links">
        <li>
          <a href="https://mojoauth.com/">Home</a>
        </li>
        <li>
          <a href="https://mojoauth.com/docs">Docs</a>
        </li>
      </ul>
      <ul class="nav-right-link">
        <li>
          <a href="https://mojoauth.com/signin" target="_blank" class="btn btn-primary">Signup for free</a>
        </li>
      </ul>
      <!--use from ASYNC blog-->
      <div class="search"></div>
    </div>
  </nav>
  <div class="backdrop"></div>
</header>
   <!--header section-->